#chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.no-chat {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > .headers {
        flex-shrink: 0;

        & > * {
            border-inline-start: 1px solid var(--theme-color-shadowFg);
        }
    }

    .messages {
        height: 100%;
        padding: 5px;
        width: 100%;
    }

    .bottom {
        .input {
            border-width: 1px;
            border-style: solid;
            border-color: var(--theme-color-shadowFg);
            background-color: var(--theme-color-windowBg);
            width: 100%;
            height: 50px;
            .input-field {
                font-family: 'Segoe UI';
                font-weight: 400;
                font-size: 14px;
                height: 100%;
                width: 85%;
                border: none;
                overflow: hidden;
                resize: none;
            }
            .icon-button {
                margin-bottom: auto;
            }
            .icon-button.attach svg {
                width: 123px;
                height: 123px;
             }
             .icon-button.send svg {
                width: 123px;
                height: 123px;
             }
        }
    }
}